<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">Mahonrri Mendez & copy | <%= year %>, CSE 340 | App</p>
    
    <a href="/error-test" style="color: white; text-decoration: underline;">Probar error 500</a>
</footer>