<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">Mahonrri Mendez & copy | <%= year %>, CSE 340 | App</p>
    
    <a href="/inv/detail/:invId3215" style="color:rgb(248, 246, 246); font-weight:bold;">Probar error 500</a>

</footer>