
    <% /*<nav> ESTE ES EL NAV Menu estatico, fue reemplazado en la w3 MVC  lesson
        <ul class="nav-menu">

            <li class="current-menu-item"><a href="../index.ejs">Home</a></li>
            <li><a href="Custome.ejs">Custome</a></li>
            <li><a href="Sedan.ejs">Sedan</a></li>
            <li><a href="SUV.ejs">SUV</a></li>
            <li><a href="Truck.ejs">Truck</a></li>
        </ul>
    </nav>*/ %>
<%/*este es un comentario - linea 15-17 es el nuevo codigo*/%>


<nav>
    <%- nav %>
</nav>