<nav>
    <ul class="nav-menu">

        <li class="current-menu-item"><a href="../index.ejs">Home</a></li>
        <li><a href="Custome.ejs">Custome</a></li>
        <li><a href="Sedan.ejs">Sedan</a></li>
        <li><a href="SUV.ejs">SUV</a></li>
        <li><a href="Truck.ejs">Truck</a></li>
    </ul>
</nav>