<h1>Welcome to CSE Motors!!</h1>
<main>
    <section class="hero" >
        <img src="images/vehicles/delorean.jpg" alt="delorean">

        <div class="herolabel">
            <a href="join.html"><img src="images/site/own_today.png" alt="call to action"></a>
        </div>
    </section>

    <section class="content-wrap">
    <div class="gallery">
        <img src="images/upgrades/flux-cap.png" alt="flux-cap">
        <img src="images/upgrades/flame.jpg" alt="flame">
        <img src="images/upgrades/bumper_sticker.jpg" alt="bumper">
        <img src="images/upgrades/hub-cap.jpg" alt="hub-cap">
    </div>

    <div class="reviews">
        <h2>DMC Delorean reviews</h2>
        <p>
        1. So fast it's almost like traveling in time (4/5)
        </p>
        <p>
        2. "Coolest ride on the road" (4/5)
        </p>
        <p>
        3. "I'm feeling McFly!" (5/5)
        </p>
        <p>
        4. "The most futuristic ride of our day" (4.5/5)
        </p>
        <p>
        5. "80's livin and I love it!" (5/5)
        </p>
    </div>
    </section>
</main>