<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <div id="wrapper">
            <main>
            <h1><%= title %></h1>
            <p><%- message %></p>
            <!-- Mensaje opcional divertido -->
            <p style="color: gray; font-style: italic;">
                Algo salió mal, pero no todo está perdido 😅. <a href="/">Volver al inicio</a>
            </p>
            </main>
    </div>
</body>
</html>
